hr {
  border-color: #f2f2f2;
}

.employee-details {
  padding: 0.5em;
  background-color: #f2f2f2;
}

.left {
  width: 30%;
  display: inline-block;
}

.right {
  width: 70%;
  display: inline-block;
}